/*

  Color Palette:
  - Raisin Black : #272727;
  - New York Pink : #D37C7C;
  - Mauvelous : #EF9E9E;
  - Pale Chestnut : #D8B3B3;
  - Rosy Brown : #B79191;

*/

/*
  Creating variables inside the :root element allows for them to be available throughout the whole web page.
*/
:root {
  --raisin-black: #272727;
  --lighter-black: #515151;
  --new-york-pink: #D37C7C;
  --mauvelous: #EF9E9E;
  --pale-chestnut: #D8B3B3;
  --rosy-brown: #B79191;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* NAVIGATION */

.nav-menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.nav-menu .toggle-button {
  position: relative;
  display: grid;
  flex-direction: row;
  justify-self: stretch;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: #272727;
}

.nav-menu .hamburger-icon {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 1rem;
  background-color: #515151;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Second Line */
.nav-menu .hamburger-icon > div {
  position: relative;
  background-color: #EF9E9E;
  width: 120%;
  height: 2px;
} 

/* First and Third Line */
.nav-menu .hamburger-icon > div:before,
.nav-menu .hamburger-icon > div:after {
  content: '';
  position: absolute;
  background-color: #EF9E9E;
  width: 100%;
  height: 2px;
  top: -10px;
  z-index: 1;
  background: inherit;
}

/* Third Hamburger Line */
.nav-menu .hamburger-icon > div:after {
  top: 10px;
}

.cross{
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #EF9E9E;
}

.cross > div{
  position: relative;
  background-color: #515151;
  width: 30px;
  height: 2px;
  transform: rotate(135deg);
  display: flex;
} 

/* First and Third Line */
.cross > div:before,
.cross > div:after {
  content: '';
  position: absolute;
  background-color: #515151;
  width: 100%;
  height: 2px;
  z-index: 1;
  background: inherit;
  transform: rotate(90deg);
}

.nav-menu .nav-bar {
  z-index: 1;
  height: calc(100vh - 50px);
  width: 100vw;
  grid-auto-flow: row;
  background-color: #EF9E9E;
}

.nav-menu .nav-bar ul {
  display: grid;
  list-style: none;
}

.nav-menu .nav-bar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.nav-bar-visible {
  display: grid;
}

.cross-visible {
  display: flex;
}

.hidden {
  display: none !important; 
}

.nav-hidden {
  display: none;
}

.anchor {
  position: relative;
}

.anchor header {
  position: absolute;
  left: 0px;
  top: -50px;
}

/* DOCUMENTATION */

.tech-column {
  position: absolute;
  top: 100px;
}

.note{
  color: gray;
}

/* Box-Model */

#box-model {
  text-align: center;
  margin-left: 1.3em;
  margin-right: 1.3em;
  max-width: 700px;
  min-width: 337px;
}

#box-model p {
  padding: 0;
  margin: 0 0 1.3em 0;
}

#box-model #content p{
  margin: 0;
}

#margin {
  padding: 2em;
  padding-top: 1.2em;
  background-color: var(--new-york-pink);
  padding-bottom: 3em;
}

#border {
  padding: 2em;
  padding-top: 1.2em;
  background-color:  var(--mauvelous);
  padding-bottom: 3em;
}

#padding {
  padding: 2em;
  padding-top: 1.2em;
  background-color: var(--pale-chestnut);
  padding-bottom: 3em;
}

#content{
  padding: 2em;
  padding-top: 1.7em;
  background-color: var(--rosy-brown);
}

#box-model-example {
  margin: 1.2em;
  border: 0.2em solid black;
  padding: 1.2em;
  text-align: center;
} 


/* MEDIA QUERIES */

/* Desktop/Laptop */
@media only screen and (min-width: 1024px) {
  .nav-menu .toggle-button,
  .nav-menu .hamburger-icon {
    display: none;
  }

  .nav-menu #navbar {
    height: 100vh;
    width: 25vw;
    display: grid;
  }

  .tech-column {
    top: 0;
    left: 27vw;
  }
}